
:root{
    --sky-blue-main :rgb(117, 180, 223);
    --sky-blue-dark :rgb(96, 161, 204);
    --light-grey:rgb(197, 194, 194);
    --main-font : 'Lato', sans-serif;
    --secondary-font : 'Odibee Sans', cursive; 
}

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--main-font);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden
}

/* Styling the Navbar */

.nav-container{
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .3rem .5rem;
    background-color: var(--sky-blue-main);
    border-bottom: 1px solid rgb(255, 240, 240);
    transition: top .5s linear;
}
.nav-container .logo{
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    font-size: 1.5rem;
}
.nav-container .logo h1{
    font-family:var(--secondary-font); 
    letter-spacing: 5px;
    
}
.nav-container .logo i{
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 0 .2rem 0 0;
}
.nav-container .links{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-container .links .nav-link{
    margin-left: 1.3rem;
    padding: .3rem;
    cursor: pointer;
    transition: border-bottom .2s ease-in-out;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    position: relative;

}
.nav-container .links .nav-link:hover{
    border-bottom: 2px solid rgb(247, 247, 247);
}
.nav-container .dep-sup-ul{
    position: absolute;
    top: 2rem;
    left: 0rem;
    z-index: 20;
    width: max-content;
    padding: 1rem .5rem;
    font-weight: bold;
    background-color: var(--sky-blue-main);
    transform: scale(0);
    transition: transform .5s ease-in-out;
    border-radius:  0 0 5px 5px;
}
.nav-container .links .nav-link:hover .dep-sup-ul{
    transform: scale(1);
}
.nav-container .dep-sup-ul .dep-sup-li{
    padding: .2rem;
    margin-bottom: .2rem;
}
.nav-container .dep-sup-ul .dep-sup-li:hover{
    background-color: rgb(100, 158, 197);
}
.nav-container .pay-sup-ul {
    position: absolute;
    top: 2rem;
    left: 0rem;
    z-index: 20;
    width: max-content;
    padding: 1rem .5rem;
    font-weight: bold;
    background-color: var(--sky-blue-main);
    transform: scale(0);
    transition: transform .5s ease-in-out;
    border-radius:  0 0 5px 5px;
}
.nav-container .links .nav-link:hover .pay-sup-ul{
    transform: scale(1);
}
.nav-container .pay-sup-ul .pay-sup-li{
    padding: .2rem;
    margin-bottom: .2rem;
    width: 100%;
}
.nav-container .pay-sup-ul .pay-sup-li:hover{
    background-color: rgb(100, 158, 197);
}
.nav-container .links .nav-link a{
    text-decoration: none;
    color: rgb(255, 240, 240);
    font-weight: bold;
}
.nav-container .userIcon{
    border: none;
    padding: .2rem;
    background-color: transparent;
    margin-right: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(68, 69, 70);
    transform: rotate(0);
    transition:  transform .3s ease-in-out;
}
.nav-container .userIcon:hover{
    transform: rotate(90deg);
}
.fixedNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 35;
    opacity: .9;
}
/* Styling Side Menu */
.side-links-cont{
    position: fixed;
    top:80px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding: .5rem;
    background-color: var(--sky-blue-main);
    transform: translateX(100%);
    transition: transform .2s ease-in-out;
    z-index: 15;
}
.side-links-cont .closeMenuBtn{
    padding: .2rem;
    background-color: transparent;
    border: none;
    margin-bottom: .8rem;
    font-size: 1.3rem;
    transition: background-color .2s ease-in-out,color .2s ease-in-out, transform .2s ease-in-out;
    border-radius: 5px;
    transform: scale(1);
    color: rgb(68, 69, 70);
}
.side-links-cont .closeMenuBtn:hover{
    background-color: rgb(63, 63, 63);
    color:rgb(255, 240, 240) ;
    transform: scale(1.1);
}
.side-links-cont .closeMenuBtn i{
    cursor: pointer;
}
.sidelinks{
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}
.sidelinks .side-nav-link{
    padding: .4rem;
    margin: 1rem 0;
    width: 100%;
    cursor: pointer;
    letter-spacing: 2px;
}
.sidelinks .side-nav-link:hover{
    background-color:var(--sky-blue-dark) ;
}
.sidelinks .side-nav-link a{
    color:rgb(255, 240, 240) ;
    width: 100%;
}
.sidelinks .side-nav-link i{
  color: rgb(255, 240, 240);  
  margin-left: .5rem;
}
.showSideLinks{
    transform: translateX(0);
}

/* Hero Styling*/
.heroContainer{
    width: 100vw;
    position: relative;
    background-image: url('./imgs/hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.heroContainer::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(26, 24, 24);
    opacity: .9;
   
}
.heroContainer .heroText{
    color: rgb(255, 240, 240);
    z-index: 12;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem;
}
.heroContainer .heroText h1{
    font-weight: bold;
    font-size: 3.5rem;
    padding: .2rem;
    margin-bottom: .3rem;
    letter-spacing: 3px;
}
.heroContainer .heroText h5{
    font-size: 1.2rem;
    padding: .2rem;
    margin-bottom: .3rem;
   color: var(--sky-blue-main);
}
.heroContainer .heroText p{
    padding: .2rem;
    margin-bottom: 1rem;
}
.heroContainer .heroText .heroBtn{
    border: 2px solid var(--sky-blue-main) ;
    padding: .5rem 1.2rem;
    border-radius: 3px;
    background-color: transparent;
    color:rgb(255, 240, 240) ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    letter-spacing: 2px;
}
.heroContainer .heroText .heroBtn:hover{
    background-color: var(--sky-blue-main);
}

/* Departmen Section */
.department-section{
    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.department-section .depatmentCont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
}
.departmentMainTitle{
    padding: 1rem;
    margin: 1rem auto 2rem;
    text-align: center;
    border-bottom: 4px solid var(--sky-blue-main);
}
.department-section .singleDep{
    border: 1px solid rgb(197, 194, 194);
    padding: .5rem;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    transform: translateY(0);
    transition: transform .2s ease-in-out;
}
.department-section .singleDep:hover{
    transform: translateY(4px);
}
.department-section .singleDep img{
    width: 100%;
    min-height: 50%;
    max-height: 50%;
    margin-bottom: .3rem;
    cursor: pointer;
    border-radius: 4px;
    object-fit: cover;
}
.department-section .singleDep h3,p{
    margin-bottom: .5rem;
}
.department-section .singleDep .depInfo{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.department-section .singleDep p{
    max-height: 40%;
    overflow: hidden;
}
.department-section .singleDep h3 {
    border-bottom: 2px solid rgb(83, 81, 81);
    padding: .2rem;
}
.department-section .singleDep .depBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    width: 100%;
    margin: .5rem auto;
}
.department-section .singleDep .depBtns button{
    padding: .4rem;
    border: 2px solid var(--sky-blue-main);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color .2s ease-in-out;
    background-color: rgb(255, 255, 255);
    margin-top: .5rem;
}
.department-section .singleDep .depBtns button:hover{
    background-color: var(--sky-blue-main);
}

/* Reviews Section */
.reviews-section{
    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--light-grey);
}
.reviewsMainTitle{
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 4px solid var(--sky-blue-main);
}
.reviews-section .singleReviewCont{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
   width: 100%;
   min-height: 100%;
}
.reviews-section .singleReview{
    border: 1px solid var(--light-grey);
    box-shadow: 1px 1px 5px var(--sky-blue-main);
    border-radius: 5px;
    margin: 1rem  ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
.reviews-section .singleReview .singleReviewIMGCont{
    width: 300px;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.reviews-section .singleReview .singleReviewIMGCont img{
    width: 50%;
    min-height: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: .1rem auto;
}
.reviewerName{
    padding: .5rem;
    margin: .2rem auto .5rem;
    position: relative;
    width: 100%;
    text-align: center;
}
.reviewerName::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 37%;
    width: 25%;
    height: 2px;
    background-color: var(--sky-blue-dark);
}
.reviewerJob{
    padding: .2rem;
    margin: 0 auto .3rem ;
    width: 100%;
    text-align: center;
    color: var(--sky-blue-dark);
}
.reviewerText{
    width:100%;
    text-align: center;
    padding: .2rem;
    margin-bottom: 1rem;

}
.reviewBtnsCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    text-align: center;
}
.reviewBtnsCont button{
    padding: .2rem .9rem;
    margin: .2rem .5rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--sky-blue-main);
    border-radius: 3px;
    transition: background-color .1s ease-in-out,color .1s ease-in-out;
}
.reviewBtnsCont button:hover,.randomReviewCont button:hover{
   background-color: var(--sky-blue-dark);
   color: aliceblue;
}
.randomReviewCont{
    width: 100%;
    text-align: center;
    padding: .3rem;
}
.randomReviewCont button{
    padding: .2rem .6rem;
    margin: .2rem .5rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--sky-blue-main);
    border-radius: 3px;
}
.reviewUsCont{
    border: 1px solid var(--light-grey);
    box-shadow: 1px 1px 5px var(--sky-blue-main);
    border-radius: 5px;
    margin: 1rem ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
.reviewUsCont h2 , .contactUsCont h2{
    padding: .2rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    height: 15%;
}
.reviewUsCont .reviewBody, .contactBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
}
.reviewUsCont .reviewBody input,textarea , .contactBody input ,textarea{
    outline: none;
    padding: .3rem;
    margin: .2rem  auto;
    width: 100%;
    text-align: left;
    outline: none;
    border: 1px solid var(--light-grey);
}
.reviewUsCont .reviewBody textarea, .contactBody textarea{
    min-width: 100%;
    max-width: 100%;
    min-height:10rem;
    max-height:10rem;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}
.reviewUsCont .reviewBody button ,.contactBody button{
    width: 50%;
    margin: 3rem auto .2rem; 
    padding: .3rem;
    border: none;
    cursor: pointer;
    border: 2px solid var(--sky-blue-main);
    background-color: rgb(248, 252, 255);
    border-radius: 3px;
    font-weight: bold;
    transition: background-color .1s ease-in-out,color .1s ease-in-out;
}
.reviewUsCont .reviewBody button:hover , .contactBody button:hover{
    background-color: var(--sky-blue-dark);
   color: aliceblue;
}
.singleReviewCont .contactUsCont{
    border: 1px solid var(--light-grey);
    box-shadow: 1px 1px 5px var(--sky-blue-main);
    border-radius: 5px;
    margin: 1rem ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
.reviewUsCont .reviewBody input , .singleReviewCont .contactUsCont input {
    border-radius: 20px;
}

/* Q & A Section */

.qaCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-top: 1px solid var(--light-grey);
    background-color: rgb(250, 250, 250);
}
.qaCont h1{
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 4px solid var(--sky-blue-main);
}
.qaCont .mainQAWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questionsCont{
    width: 45%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-grey);
    transition: box-shadow .1s ease-in-out;
    border-radius: 5px;
    margin: .3rem auto;
}
.questionsCont:hover{
    box-shadow: 1px 1px 5px var(--sky-blue-main);
}
.questionsCont .singleQuestionCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    width: 100%;
    margin: .5rem auto;
    
}
.questionsCont .singleQuestionCont .singleQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--sky-blue-main);
    font-weight: bold;
  
}
.questionsCont .singleQuestionCont .singleQuestion .iconQuestionBtn{
    border: 2px solid var(--sky-blue-main);
    background-color: transparent;
    padding: .1rem .3rem;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    outline: none;
    color: rgb(43, 41, 41);

}
.questionsCont .singleQuestionCont .singleQuestion .iconQuestionBtn:hover{
    transform: rotate(90deg);
    transition: transform .3s ease-in-out;
}
.questionsCont .singleQuestionCont .singleQuestion span{
    font-size: 1.5rem;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

}
.questionsCont .singleQuestionCont .singleQuestion span i{
    width: 100%;
}
.questionsCont .singleQuestionCont .singleQuestion .plus-icon{
    display: inline-block;
}
.questionsCont .singleQuestionCont .singleQuestion .minus-icon{
    display: none;
}
.questionsCont .singleQuestionCont .singleAnswer{
    width: 100%;
    padding: .2rem;
    display: none;
}
.questionsCont .singleQuestionCont .singleAnswer.showAnswer{
    display: block;
}
.qaCont .mainQAWrapper .askUsCont{
    width: 45%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-grey);
    transition: box-shadow .1s ease-in-out;
    border-radius: 5px;
    margin: .3rem auto;
}
.qaCont .mainQAWrapper .askUsCont:hover{
    box-shadow: 1px 1px 5px var(--sky-blue-main);
}
.qaCont .mainQAWrapper .askUsCont h3{
    padding: .7rem;
    margin: .5rem auto;
}
.qaCont .mainQAWrapper .askUsCont .singleQuestionItemCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--light-grey);
}
.askUsInput{
    padding: .4rem;
    width: 80%;
    border-radius: 20px;
    border: 1px solid var(--light-grey);
    outline: none;
}
.askUsBtn{
    min-width: 15%;
    padding: .2rem;
    margin: .2rem auto;
    border: 1px solid var(--sky-blue-main);
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition:  background-color .2s ease-out,color .2s ease-out;
}
.askUsBtn:hover{
    background-color: var(--sky-blue-main);
    color: aliceblue;
}
.hashtagsCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hashtagsCont h4{
    padding: .4rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--sky-blue-main);
}

.hashCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.singleHashtag {
     padding: .2rem .5rem;
     border: 1px solid var(--sky-blue-main);
     border-radius: 20px;
     margin: .5rem;
     font-size: .7rem;
     font-weight: bold;
     cursor: pointer;
     position: relative;
     transition:  background-color .2s ease-out,color .2s ease-out;

}
.singleHashtag:hover{
    background-color: var(--sky-blue-main);
    color: aliceblue;
}
/* Footer */
.footerSection{
    width: 100%;
    padding: .5rem 1rem;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid var(--light-grey);
}
.footerCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
}
.footerSection .quickOptionsCont{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem;
    position: relative;
}
.footerSection .quickOptionsCont .footerTextCont{
    order: 3;
    width: 30%;
    height: 50%;
    padding: .2rem;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    position: relative;
}
.footerSection .quickOptionsCont .footerTextCont h6{
    font-weight: bold;
    padding: .2rem;
    background-color: var(--light-grey);
    border-radius: 5px;
}
.footerSection .quickOptionsCont .footerQuickOptions{
    order: 2;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerSection .quickOptionsCont .footerQuickOptions .quickOption{
    padding: .2rem .5rem;
    margin-bottom: .2rem;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    transition: border-bottom .2s ease-in-out,  background-color .2s ease-in-out;
    border-radius: 5px;
    letter-spacing: 3px;
}
.footerSection .quickOptionsCont .footerQuickOptions .quickOption:hover{
    border-bottom: 2px solid var(--sky-blue-main);
    background-color: var(--sky-blue-main);

}
.footerSection .quickOptionsCont .socialmediaCont{
    order: 1;
    width: 30%;
    padding: .5rem;
    margin: .5rem;
    position: relative;
}
.footerSection .quickOptionsCont .socialmediaCont:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--light-grey);
}
.footerSection .quickOptionsCont .socialmediaCont .socialMediaIconCont{
    padding: .2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 40px;
    width: 100%;
    transition: color .2s ease-in-out;
}
.footerSection .quickOptionsCont .socialmediaCont .socialMediaIconCont i{
    margin-right: .2rem;
}

.footerSection .quickOptionsCont .socialmediaCont .socialMediaIconCont:hover i{
    color: var(--sky-blue-main);
}
.socialMediaTextCont{
    transform: translateX(-150%);
    transition: transform .2s ease-in-out;
    font-weight: bold;
    margin-left: .2rem;
    text-align: center;
    font-style: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.socialMediaIconCont:hover .socialMediaTextCont{
    transform: translateX(0%);
}
.footerCont .locationCont{
    width: 30%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCont .locationCont iframe{
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

/* Copyrights Section */

.copyrightCont{
    width: 100%;
    border-top: 1px solid var(--light-grey);
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyrightCont .copyTextCont{
    font-weight: bold;
    letter-spacing: 2px;
}
.copyrightCont .copyTextCont span{
    color: var(--sky-blue-dark);
}
.copyrightCont .creatorSM{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.copyrightCont .creatorSM i{
    padding: .2rem;
    margin: .2rem;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
.copyrightCont .creatorSM i:hover{
    color: var(--sky-blue-dark);
}

/* Media Queries (All Web Page) */

@media screen and (max-width: 768px){
    .side-links-cont{
        width: 35%;
    }
}

@media screen and 
(min-width: 320px)and
(max-width: 760px)
{ 
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .userIcon{
        position: absolute;
        top: .5rem;
        right: .5rem;
    }
    .side-links-cont{
        width: 60%;
        top: 88px;
    }
    .qaCont .mainQAWrapper{
        flex-direction: column;
    }
    .qaCont .mainQAWrapper .questionsCont{
        width: 90%;
    }
    .qaCont .mainQAWrapper .askUsCont{
        width: 90%;
    }
    .footerCont{
        flex-direction: column;
    }
    .footerSection .quickOptionsCont{
        width: 100%;
        justify-content: space-around;
    }
    .footerSection .quickOptionsCont .footerTextCont{
        display: none;
        order: 0;
        width: 0;
    }
    .footerQuickOptions{
        flex: 1;
        width: 50%;
    }
    .quickOption{
        width: 100%;
        text-align: left;
        padding: .2rem ;
    }
    .footerSection .quickOptionsCont .socialmediaCont{
        flex: 1;
        width: 50%;
    }
    .footerCont .locationCont{
        width: 100%;
        margin: 1rem auto;
    }
} 
